{% extends "../main_container.html" %}


{% block content %}

<h2>About this site</h2>

<p>The FlightGear Calendar is located at<br>
	<a href="http://www.google.com/calendar/hosted/freeflightsim.org/render?cid=fg@freeflightsim.org">http://www.google.com/calendar/hosted/freeflightsim.org/render?cid=fg@freeflightsim.org</a></p>

<p>This  calendar is R &amp; D and work in progress, trying to find a solution that works for everyone, and is easily updateable. Currently the toolkit and service being used is Google Calendar as this has all the widgets, feeds etc etc.</p>

<p>The disadvantage is that a google account is required. This does not mean that you need a new email address etc, but instead use your existing address to create a "token" with google.
</p>
<p>The advantage is that it makes access to google services including access easy; for the developers its much easier to 
code and more secure.
</p>

<h3>Project</h3>
<ul>
<li>Wiki: <a href="http://code.google.com/p/freeflightsim/">code.google.com/p/freeflightsim/</a></li>
<li>Source: <a href="http://github.com/FreeFlightSim/ffs-app-engine">github.com/FreeFlightSim/ffs-app-engine</a></li>
</ul>

{% endblock content %}