{% extends "../main_container.html" %}


{% block right_box %}

	<div class="panel_box">
		<h3>Design Proposal</h3>
		<p>The <b><a href="http://flightgear.org/proposal-3.0.1">Original Flight Gear Proposal</a></b> - revision 3.0.1 by David L. Murr -- dmurr[at]pen.k12.va.us 
		(Updated 10/30/1996)</P>
	</div>


	<div class="panel_box">
		<h3>History</h3>
		<img src="/images/missc/history.jpg" style="float: right; margin: 10px;">
		<p>Read some history at <a href="http://en.wikipedia.org/wiki/FlightGear">WikiPedia</a></P>
	</div>

{% endblock %}


{% block content %}

<h2>About this site</h2>
<p>The {{ conf.tm }} calendar is work in progress and r&d, trying to find a solution that works for everyone. Currently the toolkit and service being used is Google Calendar as this has all the widgets, feeds etc etc.</p>

<p>The dissadvantage of this is that a google account is aqquired. This does not mean that you need a new email address etc, but instead use your existing address to create a "token" with google.
</p>
<p>The advantage is that it makes access to google services including access easy and for the developers its much easier to 
code and more secure.
</p>

<h6>Project</h6>
<ul>
<li>Wiki: <a href="http://github.com/FreeFlightSim/ffs-app-engine">wiki</a></li>
<li>Source: <a href="http://github.com/FreeFlightSim/ffs-app-engine">github.com/FreeFlightSim/ffs-app-engine</a></li>
</ul>

{% endblock content %}