{% extends "../main_container.html" %}


{% block content %}

<h2>About this site</h2>

<p>This FlightGear Calendar is located at<br>
	<a href="http://www.google.com/calendar/hosted/freeflightsim.org/render?cid=fg@freeflightsim.org">http://www.google.com/calendar/hosted/freeflightsim.org/render?cid=fg@freeflightsim.org</a></p>

<p><b>fg@freeflightsim.org</b> is an user account with a <b>public calendar</b> on the domain. This site works by remotely adding users in <b>edit mode</b> to the calendar, enabling maintainance of entries.</p>

<p>Its R &amp; D and work in progress, trying to find a solution that works for everyone, is easily managable and updateable. Currently the toolkit and service being used is Google Calendar as this has all the widgets, authentication, feeds etc.</p>

<p>The disadvantage is that a google account is required. This does not mean that you need a new email address etc, but instead can use your existing address to create a "token" with google.
</p>
<p>The advantage is that it makes access to google services including access easy. For the developers its much easier to 
code and more secure.
</p>

<h3>Links</h3>
<ul>
<li>Bugs and Feature Requests: <a href="http://code.google.com/p/freeflightsim/">code.google.com/p/freeflightsim/</a></li>
<li>Wiki: <a href="http://code.google.com/p/freeflightsim/">code.google.com/p/freeflightsim/</a></li>
<li>Source: <a href="http://github.com/FreeFlightSim/ffs-app-engine">github.com/FreeFlightSim/ffs-app-engine</a></li>
</ul>

{% endblock content %}