{% extends "../main_container.html" %}



{% block content %}



<h2>How to add an event</h2>


<table>
<caption>Steps required to create an entry</caption>


<tr>
	<th>Login with a google recognised account</th>
	<td><a href="/login/">Login</a></td>
</tr>
<tr>
	<th>Subscribe to the Calendar</th>
	<td><a href="/subscribe/">Subscribe</a></td>
</tr>
<tr>
	<th>Add the calendar to your google calendars. If their not activated, then a simple click will do so.</th>
	<td><a href="/link/">Link</a></td>
</tr>
<tr>
	<th>Create an entry in the FlightGear calendar, mark as public so everyone can see</th>
	<td>#</td>
</tr>
</table>



{% endblock content %}