{% extends "../main_container.html" %}

{% block content %}

<iframe src="http://www.google.com/calendar/hosted/freeflightsim.org/embed?title=FlightGear%20Events%2C%20ATC%2C%20etc&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=freeflightsim.org_2o8rr833j1b9ubfv3gijon0f58%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=Europe%2FLondon" style="border-width:0; width: 100%; " sswidth="900" height="700" frameborder="0" scrolling="no"></iframe>

{% endblock content %}