{% extends "../main_container.html" %}



{% block content %}


<table style="float: right;">
<!-- <caption>Steps required to create an entry</caption>-->


<tr {% if user %}style="color: green"{% endif %}>
	<td class="{% ifequal step  1 %}amber{% else %}green{% endifequal %}" style="width: 30px;">1{% ifequal step  1 %}{% endifequal %}</td>
	<th >{% if user %}Sign In{% else %}Sign In{% endif %}</th>
	
	</td>
</tr>
<tr>
	<td>2</td>
	<th>Subscribe to Calendar</th>
	
</tr>
<tr>
	<td>3</td>
	<th>Create entry</th>
	
</tr>
<tr>
	<td>4</td>
	<th>Alerts</th>
	
</tr>
</table>

<h2>How to add an event</h2>


{% ifequal step 1 %}

<h3>Login</h3>
<ul>
<li>Click on the link below login with your google account</li>
<li>If you dont' have a google account, then click the link and create one. You will use the same email, its just you need to setup a token with google.</li>
<li><b><a href="/subscribe/login/">Login</a></b></li>
</ul>
<p><b>{% if user %}{{ user.nickname }}{% else %}<a href="/subscribe/login/">Login</a>{% endif %}</b></p>
<td>{% if user %}<a href="/subscribe/link/">Goto Calendar</a>{% else %}---{% endif %}</td>
<td width="100">{% if user %}<a href="/subscribe/subscribe/">Subscribe</a>{% else %}---{% endif %}</td>
{% endifequal %}

{% if page %}

<h3>Subscribe</h3>

<ul>

<li>Click on the button below to subscribe</li>
<li>The server will then add you as an <b>editor</b> to the calendar</li>
<li>Please act responsibly and do not abuse</li>
<li>We reserve the right to ban you</li>
</ul>


<form action="/subscribe/" method="post">
	<input type="hidden" name="action" value="add2cal">
	<input type="submit" value="Subscribe {{ user.email }}">
</form>

<p>dasdas</p>
{% else %}






{% endif %}


{% endblock content %}