{% extends "../launch_container.html" %}

{% block content %}

<h1>Virtual Airlines</h1>
<p>Maybe more than 1.</p>
<ul>
<li>For them to get some more “Procedural Work” and billboards ­ for others to get “workload”! </li>
<li>May be schedules to arrive/depart when ATC service is available.</li>
<li>If more than one ATC is “on duty” one may switch to different locations, thus enabling 
round trips e.g. Amsterdam – London ­ Paris – Rom – Milano – Zürich – Frankfurt ­ Berlin 
– etc.</li>
</ul>

{% endblock content %}