{% extends "../launch_container.html" %}

{% block content %}
<h1>Welcome to free flight sim</h1>

<p>This site is at design and reasearch stage, inspired and summarized by a <a href="http://emmerich-j.de/">Jommo</a> <a href="http://emmerich-j.de/FGFS/Flight-Center-Proposal.pdf">document</a>.</p>

<p><i>I suggest to develop a Flight­Center that combines many “areas of interest” (e.g. ATC, FGCOM, 
Flightschool,  Flight­Clubs, Airlines, Exhibitions, etc.) at one location at fixed times. Thus many 
“Providers” of different “areas of interest” can share the task of meeting, supporting, introducing, 
helping, teaching, learning, talking, entertaining, advertising, etc. a growing amount of “Customers”.
</i></p>

<p><i>The basic idea is that many “areas of interest” with even more “Providers” are able to cover the 
manpower needed to commit firm service­hours, because there are many overlapping interests that will 
enable a “sitting in” one for the others, if needed. So these soon commonly be known service hours 
with lots of services offered will attract more and more “Customers” which then in turn will attract 
more and more “Providers” enabling more services etc. etc. pp.</i></p>

<p><i>The service­ hours could be extended even more if that Flight­Center will also be used (and staffed) by 
all continents at overlapping times, e.g. on weekends: Asia GMT 13­16, Europe GMT 15­18, America 
GMT 17­20, or similar. (I suggest to have always one “English­speaking” provider at the location 
during “business hours”)</i></p>

<p>So please find in the following some ideas I have about the potential areas of interest:</p>

<p>
<object width="660" height="525"><param name="movie" value="http://www.youtube.com/v/tomk3UtlLl8&hl=en_GB&fs=1&rel=0&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/tomk3UtlLl8&hl=en_GB&fs=1&rel=0&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="660" height="525"></embed></object>
</p>

{% endblock content %}