{% extends "../main_container.html" %}


{% block content %}

<h2>About this site</h2>

<p>Inspired by this forum posting - <i><a href="http://flightgear.org/forums/viewtopic.php?f=15&t=7357&p=69752&hilit=requests#p69752"><b>Website for requesting a controller</b></a></i></p>

<div style="margin: 0px 100px 10px 100px; padding: 10px; font-style: italic; font-family: serif; border: 2px dotted #dddddd; background-color: #efefef;">
<p>You usually only need air traffic controllers when you are taking off or landing (even though there are center controllers), 
so I thought of making a website which allows you to request controllers when you are going to takeoff or land.
And with flightgear's terrasync and the ability for controllers to teleport anywhere such a service could be possible.
 This could also be helpful for people who are ATC, because they dont have to stay at one place for a long time just to serve 1 or 2 pilots.</p>
<p>
I love designing websites, so I have already started on the layout of the site, which you can check out here: http://nafis.us.to/fg_atc. I am currently working on the actual script which would allow the guys logged in as ATC to view requests from pilots. Its not very hard so I could finish the whole site in about a week, except for the next two weeks I will be very busy (so busy I might not even be able to go on flightgear!).</p>
<p>
Anyway, I hope that this could help flightgear get closer to becoming similar to vatsim, and that im not just being a noob. :|</p>
<p>by Nafis on Tue Mar 16, 2010 8:02 am</p>
</div>


<p>It's work in progress, any thought's suggestions, mad ideas and bugs, then please leave a comment below.</p>
<p>Next step is for ATC to announce their presence, then sire it up to REAL mp</p>

<h3>Links</h3>
<p>
Bugs and Feature Requests: <a href="http://code.google.com/p/freeflightsim/issues/list">http://code.google.com/p/freeflightsim/issues/list</a></p>
<p>Wiki: <a href="http://code.google.com/p/freeflightsim/">http://code.google.com/p/freeflightsim/</a></p>
<p>Source: <a href="http://github.com/FreeFlightSim/ffs-app-engine">http://github.com/FreeFlightSim/ffs-app-engine</a></p>

{% endblock content %}