{% extends "../main_container.html" %}

{% block content %}

{% now "jS F Y H:i" %}
<table class="fp">
<tr>
	<th rowspan="2"><b>Callsign</b></th>
	<th colspan="3"><b>Departure</b></th>
	<th colspan="3"><b>Arrival</b></th>
	<th rowspan="2"><b>Comments</b></th>
</tr>
<tr>
	<th>Airport</th>
	<th>Date/Time</th>
	<th>ATC</th>
	<th>Airport</th>
	<th>Date/Time</th>
	<th>ATC</th>
</tr>

<tr>
	<td>ac001</td>
	<td>EGLL</td>
	<td>12-23 12:34:45</td>
	<td><button type="button">Take</button></td>

	<td>EGLL</td>
	<td>12-23 12:34:45</td>
	<td>Jommo</td>
	<td>This is my first flight</td>
</tr>

<tr>
	<td>ac001</td>
	<td>EGLL</td>
	<td>12-23 12:34:45</td>
	<td><button type="button">Take</button></td>

	<td>EGLL</td>
	<td>12-23 12:34:45</td>
	<td><button type="button">Take</button></td>
	<td>This is my first flight</td>

</tr>
</table>

{% endblock content %}