



/********************************************************/
/** Main Containers           **/
/********************************************************/

.fg{
	color: green;
}

body{
	background-color: #3464A4;
	background: url("/images/desktop.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}



#main_container{
	margin: 0px auto;
	min-height: 700px;
	font-family:  sans-serif;
	max-width: 1000px;
}

#main_container #header_box{
	color: white;
	margin-top: 20px;
	NNmargin-bottom: 20px;
	ddpadding: 10px;
	background-color: #2A9AD2;
	border: 4px solid #5E8CC8;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;

}

#main_container #header_box h1{
	font-family: monospace;
	font-size: 10pt;
	color: #dddddd;
	margin: 10px;
}

#main_container #header_box h1 .ffs{
	font-family: monospace;
	font-size: 12pt;
}

#main_container #header_box h1 .fg{
	font-family: monospace;
	font-size: 26pt;
	color: yellow;
}


#main_container #header_box h2{
	float: right;
	font-family: monospace;
	font-size: 10pt;
}


/********************************************************/
/** FG Logo               **/
/********************************************************/
#fg_logo{
	ssborder: 1px solid red;
	ddtext-align: center;
	ddmargin: 10px 0px 10px 0px;
	float: right;
}
#fg_logo img{
	background-color: white;
	padding: 10px;
	border: 1px outset #dddddd;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}




/********************************************************/
/** Site Nav                 **/
/********************************************************/
#site_nav_box {
	sfloat: right;
	DDbackground-color: red;
	swidth: 200px;
	ssbackground-color: white;
	height: 40px;
	ssclear: right;
	margin-top: 40px;
}


#navlist {
}
#navlist ul{
	sfloat: left;
}



#navlist li {
	list-style-type: none;
	display: inline;
}

#navlist a {
	padding: 10px;
	font-weight: bold;
	smargin: 10px 10px 10px 10px;
	text-decoration: none;
	cccdisplay: block;
	padding-left: 10px;
	padding-right: 10px;
	color: #999999;
	background-color: #121212;
	border: 2px solid transparent;

	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

#navlist a.selected{
	background-color: #376B91;
	border-color: #999999;
	color: #eeeeee;
}

#navlist a:hover { 
	border-color: #52B4F4;
	color: white;
}

/********************************************************/
/** Content Box                 **/
/********************************************************/
#content_box{
	margin-top: 30px;
	margin-right: 250px;
	min-height: 500px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding: 10px;
	background-color: white;
	font-family: sans-serif;
}

#content_box h1{
	font-family: sans-serif;
	font-size: 20pt;
	padding: 5px 10px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #eeeeee;
}
#content_box h3{
	font-family: sans-serif;
	font-size: 14pt;
	padding: 5px 10px;
	margin-bottom: 30px;
	margin-bottom: 20px;
	sborder-bottom: 1px dashed #eeeeee;
	color: #3F70B2;
	margin: 20px 30px 20px 30px;
	text-align: left;
	border-top: 1px solid #dddddd;
}

#content_box p{
	margin-left: 40px;
	margin-right: 40px;
	line-height: 150%;
	font-size: 11pt;
	margin-bottom: 10px;
}
#content_box ul{
	margin-left: 70px;
	line-height: 140%;
	font-size: 12pt;
}
#content_box li{
	list-style-type: circle;
}

#content_box table{
	margin: 30px;
	sstext-align: center;
}


/* the content for the little images*/

#content_box .img_label_box{
	background: white;
	dfloat: left;
	border: 1px dotted #dddddd;
	text-align: center;
	font-size: 10pt;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

#content_box .img_label_box img{
	ssborder: 3px solid green;	
}
#content_box .img_label_box p{
	text-align: center;
	font-size: 9pt;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px 0px 5px 0px;
}

/********************************************************/
/** Quote BOx                **/
/********************************************************/
.quote{
	border: 1px solid #dddddd;
	background-color: #EAE9F4;
	margin: 10px 30px 10px 30px;
}

.quote .ileft{
	float: left;
}
.quote .iright{
	float: right;
}

.quote p{
	padding: 20px;
	font-style: italic;
	font-family: serif;
	text-align: center;
}

.quote small{
	font-size: 8pt;
	font-style: normal;
}


table.screenshots td{
	padding: 20px;
}


.tick{
	background: url("/images/btick.jpg");
	background-repeat: no-repeat;
	margin: 20px 70px 10px 70px;
	padding-left: 50px;
	padding-top: 5px;
	font-size: 10pt;
	border-top: 1px solid #dddddd;
	line-height: 140%;
}









/********************************************************/
/** ATC                 **/
/********************************************************/
table.fp{
	width: 100%;
}

table.fp th{
	border: 1px solid #999999;
	padding: 3px;
	text-align: left;
	font-weight: normal;
	background-color: #dddddd;
}

/********************************************************/
/** Footer Box                 **/
/********************************************************/
#footer_box{
	clear: both;
	BBbackground-color: yellow;
	margin-top: 20px;
	font-size: 8px;
}