



/********************************************************/
/** Main Containers           **/
/********************************************************/


body{
	background-color: #222222;
}


#main_container{
	margin: 10px auto;
	max-width: 1000px;
	min-height: 700px;
	BBbackground-color: green;
	font-family:  sans-serif;
}

#header_box{
	ddbackground-color: #efefef;
	hsseight: 100px; 
	border-bottom: 1px solid green;
}


#header_box #ffs_logo{
	DDborder: 1px solid red;
	ssfloat: right;
	margin-left: 100px;
}


#header_box h1{
	font-family: courier;
	font-size: 12pt;
	margin-bottom: 10px;
	color: #888888;
	border-bottom: 1px solid 444444;
	padding: 10px 0px 5px 0px;
	DDbackground-color: red;
}
#header_box h1 small{
	color: #888888;
	font-size: 10pt;
	font-weight: normal;
}
/********************************************************/
/** Site Nav                 **/
/********************************************************/

#site_nav_box {

	NNNNNNmargin: 20px 0px 20px 0px;
	float: right;
	background-color: red;
	width: 200px;
	DDborder: 2px outset #444444;
	DDborder-radius: 20px;
	DD-moz-border-radius: 20px; 
	DD-webkit-border-radius: 20px;
}


#navlist {
	bbpadding: 0px 0px 20px 10px;
	bbborder-top: 1px solid #999999;
	bbborder-bottom: 1px solid #999999;
	bbbackground-color: green;
}

#navlist li {
	ssdisplay: inline;
	list-style-type: none;
}

#navlist a {
	fffloat: left;
	ffline-height: 14px;
	padding: 10px;
	font-weight: bold;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
	color: #84E660;
	border: 3px outset blue;
	display: block;
	border: 2px outset #444444;
	border-radius: 20px;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
}

#navlist a.selected{
	border-bottom: 4px solid #1D6BA5;
	padding-bottom: 2px;
	background: transparent;
	color: #FFADF4;
}

#navlist a:hover { 
	color: #000; 
}

/********************************************************/
/** Content Box                 **/
/********************************************************/
#content_box{
	margin-right: 200px;
	background-color: black;
	min-height: 500px;
	border: 10px inset #222222;
	border-radius: 20px;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
}


/********************************************************/
/** Footer Box                 **/
/********************************************************/
#footer_box{
	clear: both;
	background-color: yellow;
}