



/********************************************************/
/** Main Containers           **/
/********************************************************/


body{
	DDbackground-color: gray;
}


#main_container{
	margin: 10px auto;
	max-width: 1000px;
	min-height: 700px;
	ssbackground-color: red;
	font-family:  sans-serif;
	border: 20px inset #444444;
}

#header_box{
	ssbackground-color: #efefef;
	hsseight: 100px; 
}


#header_box #ffs_logo{
	DDborder: 1px solid red;
	ssfloat: right;
	margin-left: 100px;
}


#header_box h1{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	margin-bottom: 10px;
	color: #888888;
	border-bottom: 1px solid #FFF158;
	padding: 10px 0px 5px 0px;
	FFbackground-color: red;
	text-align: center;
}
#header_box h2{
	font-family:  sans-serif;
	color: #888888;
	font-size: 10pt;
	font-weight: normal;
	FFbackground-color: green;
	
	text-align: center;
}
/********************************************************/
/** Site Nav                 **/
/********************************************************/

#site_nav_box {
	margin: 20px 0px 20px 0px;
}


#navlist {
	padding: 0px 0px 20px 10px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color: black;
}

#navlist ul, #navlist li {
	display: inline;
	list-style-type: none;
}

#navlist a {
	float: left;
	line-height: 14px;
	font-weight: bold;
	margin: 0px 10px 10px 10px;
	text-decoration: none;
	color: #84E660;
	border: 3px outset blue;
}

#navlist a.selected{
	border-bottom: 4px solid #1D6BA5;
	padding-bottom: 2px;
	background: transparent;
	color: #FFADF4;
}

#navlist a:hover { 
	color: #000; 
}