<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1;">
<title>{{ page_title }} - {{ conf.SITE_TITLE }}</title>

<link rel="SHORTCUT ICON" href="favicon.ico">


<link rel="stylesheet" type="text/css" href="{{ conf.CDN }}/style_sheets/reset.css">
<link rel="stylesheet" type="text/css" href="/style_sheets/launch.1.css">

<script type="text/javascript" src="{{ conf.CDN }}/js/ext-3.2.0/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="{{ conf.CDN }}/js/ext-3.2.0/ext-all.js"></script>
<script type="text/javascript" src="/js/StaticTextField.js"></script>
<script type="text/javascript" src="/js/FileUploadField.js"></script>
<script type="text/javascript" src="/js/Ext.fp.1.js"></script>
<script type="text/javascript" src="/js/FP_Dialog.1.js"></script>
<script type="text/javascript" src="/js/FP_Grid.1.js"></script>
<script type="text/javascript" src="/js/TL_Grid.1.js"></script>
<script type="text/javascript" src="/js/FP_UserForm.1.js"></script>
<script type="text/javascript" src="/js/FP_PlansPane.1.js"></script>
<script type="text/javascript" src="/js/FP_PlanDialog.1.js"></script>
</head> 
<body onload="startInit()"> 

<!--### Header ########################-->
<div id="header_box">
	<h2>Open Source Flight Simulation with FlightGear</h2>
	<h1>Free Flight Sim.org</h1>
</div>

<div id="main_container">


	<!--### Navigation ########################-->
	<div id="site_nav_box">

		<div id="fg_logo">
			<img src="{{ conf.CDN}}/images/fg2.png" alt="FlightGear">
			<div id="real_time">&nbsp;</div>
			<div id="real_date">&nbsp;</div>
			
			</div>

	</div>
	







</div><!-- main cotainer -->




</body> 




</html>