<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1;">
<title>{{ title }} | {{ site.title }}</title>


<link rel="stylesheet" type="text/css" href="/style_sheets/reset.css">
<link rel="stylesheet" type="text/css" href="/style_sheets/circle.1.css">


<!--<script type="text/javascript" src="/js/front.js"></script>-->

</head> 
<body> 

<div id="main_container">

	<!--### Header ########################-->
	<div id="header_box">
		<h2>Almost Real Life Flying</h2>
		<h1><span class="ffs">Free Flight Sim</span> with <span class="fg">FlightGear</a></h1>
		
	</div>

	<!--### Navigation ########################-->
	<div id="site_nav_box">
		<ul id="navlist">
			{% for n in site.nav %}
			<li><a {% if path == n.path  %}class="selected"{% endif %} href="{{ n.path }}" >{{ n.text }}</a>
			{% endfor %}
		</ul>
	</div>



	<!--### Header ########################-->
	<div id="launch_box">
		<h3>NOTAM: Please beware of FlightProSim</h3>		
	</div>


	<!--### Main Content ########################-->
	<div id="content_box">
		{% block content %}
		
		{% endblock %}
	</div>

	<!--### Navigation ########################-->
	<div id="footer_box">
		<p>
		<a href="https://appengine.google.com/dashboard?&app_id=freeflightsim">Dashboard</a> - 
		<a href="http://localhost:8080">Local Site</a> - 
		<a href="http://localhost:8080/_ah/admin/">Local Admin</a> - 
		&copy; 2010+ FreeFlightSim - all right reserved to copyright holders et all.. etc
	</div><!-- end footer-->




</div><!-- main cotainer -->



</body> 
</html>