{% extends "circle_container.html" %}
{% set title = 'FlightGear Aircraft' -%}
{% block content %}


<h1><span class="fg">FlightGear</span> Aircraft</h1>


<p>Once of the huge benefits of this flight simulator is the wide variety of aircraft available for you to try out.</p>

<p>Currently you can fly the 1903 Wright Flyer, strange flapping wing "ornithopters", a 747 and A320, various military jets, and several light singles.</p>

<p>As a lifetime member you get full access to ALL the planes, helicopters and gliders for free. No costly upgrades, no paying for each plane. This is just another great reason to get <b class="fg">FlightGear</b> now.</P>

<p class="panel"><b>Visit the <a href="http://flightgear.org/Downloads/aircraft-2.0.0/">Aircraft Download Page</a></b></p>

<p>With over 100 aircraft available to fly, you will never be bored. Following is a list of some of the:</p>
<ul>
<li><a href="#aircraft">Aircraft</a></li>
<li><a href="#heli">Helicopters</a></li>
<li><a href="#gliders">Gliders &amp; Miscellaneous</a></li>
</ul>

<a name="aircraft"></a>
<h4>Aircraft</h4>
<ul>
<li>1903 Wright Flyer
</li><li>Aerostar Super 700
</li><li>Douglas A4F Skyhawk
</li><li>Northrop Grumman A-6E Intruder*
</li><li>Fairchild A-10 Thunderbolt II
</li><li>Antonov An-2
</li><li>Antonov An-225
</li><li>Arsenal VG-33
</li><li>Beechcraft 99
</li><li>Beechcraft B1900D*
</li><li>Beechcraft Starship I
</li><li>Rockwell B-1B Lancer
</li><li>Northrop B-2 Spirit
</li><li>B-29 Superfortress
</li><li>B-52F Stratofortress
</li><li>BAC TSR2
</li><li>Bailey Dragonfly (Moyes/LiteFlite) (Ultralight)*
</li><li>Blackburn Buccaneer
</li><li>Bleriot XI
</li><li>Blohm & Voss BV 141
</li><li>Bristol Beaufighter
</li><li>Bugatti 100P
</li><li>Cessna 150L
</li><li>Cessna 172P Skyhawk (1981 model)*
</li><li>Cessna 172LE Skyhawk
</li><li>Cessna 172R Skyhawk
</li><li>Cessna 182
</li><li>Cessna 182RG (c. 1978)
</li><li>Cessna 310R (1979 model)
</li><li>Cessna U-3A
</li><li>Cessna 550 Citation II
</li><li>Cessna Citation Bravo
</li><li>Cessna Citation X*
</li><li>Comper Swift
</li><li>Concorde (v2.4)
</li><li>Cri-Cri(Colomban MC-15 Cri-Cri)
</li><li>Douglas DC-3
</li><li>Douglas X-3 Stiletto
</li><li>Dornier Do-335
</li><li>Dornier Do X
</li><li>Dorner-Dassault Alpha Jet
</li><li>de Havilland Canada DHC-2 Beaver*
</li><li>de Havilland Canada DHC-6 Twin Otter (Floats & Wheels)*
</li><li>de Havilland Mosquito
</li><li>de Havilland DH.89 Dragon Rapide
</li><li>de Havilland D.H.110 Sea Vixen FAW 2
</li><li>English Electric Canberra B(I)8
</li><li>English Electric Lightning F.1A
</li><li>McDonnell Douglas F-15 Eagle (fdm only)
</li><li>McDonnell Douglas F-15C Eagle
</li><li>General Dynamics F-16
</li><li>Northrop YF-23
</li><li>Lockheed F-80C Shooting Star
</li><li>North American F-86F Sabre
</li><li>Lockheed F-104 Starfighter
</li><li>Chance Vought F4U Corsair
</li><li>Farman IV
</li><li>Fieseler Fi-156 Storch
</li><li>Focke-Wulf Fw-190 A8
</li><li>FK 9 Mark 2
</li><li>Fokker 50
</li><li>Fokker 70
</li><li>Fokker 100
</li><li>Fokker Dr.1
</li><li>Grob G 115
</li><li>Grumman Albatross
</li><li>Harrier
</li><li>Hawker Hurricane IIb
</li><li>Hawker Hunter GA11
</li><li>Hawker Sea HawkHug
</li><li>hes H4 Hercules
</li><li>Issoire APM 20 Lionceau
</li><li>Soko J-22 Orao / IAR-93
</li><li>Junkers Ju 52
</li><li>Kawasaki T-4 "Blue Impulse"
</li><li>Kyushu J7W
</li><li>Let L410 FDM only
</li><li>Lockheed C-130 Hercules
</li><li>Lockheed 1049(Lockheed Constellation)
</li><li>Lockheed P-38 Lightning & F-5B
</li><li>Lockheed SR-71 Blackbird (2 FG versions)
</li><li>McDonnell Douglas MD11
</li><li>Macchi Castoldi M.C. 72
</li><li>Martin-Marietta X-24B
</li><li>Mainair Flash 2 Alpha
</li><li>Messerschmitt BF-109 G14
</li><li>Messerschmitt Me 262
</li><li>Dassault Mirage 2000
</li><li>MiG-15bis
</li><li>Nakajima Ki-84 Hayate (疾風, "Gale")('Frank')
</li><li>Nakajima A6M2('Rufe')*
</li><li>Nord Noratlas
</li><li>North American OV-10A Bronco
</li><li>North American P-51D Mustang
</li><li>North American X-15
</li><li>Payen Pa 100
</li><li>Consolidated Aircraft PBY-6 Catalina
</li><li>Piaggio P180 Avanti II(FDM only)
</li><li>Pilatus PC-7
</li><li>Piper J3 Cub (J3C-65, 1946 model) 091*
</li><li>Piper Comanche 250 (1962 model)
</li><li>Piper Cherokee Warrior II (1979 model)
</li><li>Piper PA34-200T Seneca II*
</li><li>Pitts S1C
</li><li>Saab J35Ö Draken (J35oe)
</li><li>Siai Marchetti S.211(FDM only)
</li><li>Space Shuttle (fdm only)
</li><li>Sopwith Camel 1F.1*
</li><li>Supermarine Seafire MkIIIc
</li><li>Supermarine Spitfire IIa
</li><li>Supermarine Spitfire Mk IX
</li><li>Sukhoi Su-26M
</li><li>Sukhoi Flanker-F
</li><li>Cirrus SR-20
</li><li>Cessna T-37
</li><li>Northrop T-38
</li><li>Tupolev Tu-114
</li><li>Tupolev Tu-154
</li><li>A24 Viking(Aeroprakt)
</li><li>Bell/Boeing V-22 Osprey
</li><li>Vickers Vimy
</li><li>Avro Vulcan B.2
</li><li>Zlin Z-50LX
</li></ul>


<a name="heli"></a>
<h4>Helicopters</h4>

<ul><li>Bo 105*
</li><li>Boeing CH-47 Chinook
</li><li>Bell 206 JetRanger
</li><li>Bell/Boeing V-22 Osprey
</li><li>Piasecki HUP Retriever (H-25)
</li><li>Piasecki H-21C Shawnee
</li><li>Robinson R22
</li><li>Sikorsky S-51(R-5)
</li><li>Sikorsky S-58(H-34)
</li><li>Sikorsky S76C++
</li><li>Sikorsky S-70 (UH-60)
</li><li>Sikorsky CH-53E Super Stallion (S-80)
</li><li>Aérospatiale Alouette II
</li><li>Aérospatiale Alouette III
</li><li>Aérospatiale SA 321 Super Frelon
</li><li>Eurocopter EC 135
</li><li>Ecureuil AS 350 (FDM only)
</li><li>Westland Lynx WG13
</li></ul>


<a name="gliders"></a>
<h4>Gliders &amp; Miscellaneous</h4>

<ul><li>Schweizer 2-33 (TG-4) (Glider)
</li><li>Schleicher ASW 20 (Single Glider)
</li><li>Schleicher ASK 21 (Glider)
</li><li>Bielsko SZD-9 Bocian (Glider)
</li><li>Colditz Escape Glider
</li><li>Airwave Xtreme 150 hang glider
</li><li>Paraglider
</li><li>Hornet Autogyro
</li><li>Ornithopter
</li><li>Rascal 110 (R/C)
</li><li>Malolo1 (R/C)
</li><li>Manta (R/C) (FDM only)
</li><li>Ogel
</li><li>Santa Claus Sleigh
</li><li>UFO (Video Assistant), YardStik*
</li><li>Snowplow (Truck)(+AI)
</li><li>Willys Jeep
</li><li>Zeppelin*
</li></ul>
 
{% endblock content %}