{% extends "circle_container.html" %}
{% set title = 'Download FlightGear  Now' -%}
{% block content %}


<h1><span class="fg">FlightGear</span> Downloads</h1>



<h4>Download <b class="fg">FlightGear</b> Main Program</h4> 
<p>Ready to run versions of FlightGear are available for many different
platforms from the <a href="http://flightgear.org/Downloads/binary.shtml">flightgear.org/downloads</a> website.</p>
<ul> 
<li><A HREF="http://flightgear.org/Downloads/binary.shtml#windows">Windows</A></li> 
<li><A HREF="http://flightgear.org/Downloads/binary.shtml#linux">Linux</A></li> 
<li><A HREF="http://flightgear.org/Downloads/binary.shtml#mac">Mac OS X</A></li> 
<li><A HREF="http://flightgear.org/Downloads/binary.shtml#sun">Solaris (sparc/x86)</A></li> 
<li><A HREF="http://flightgear.org/Downloads/binary.shtml#sgi">sgi</A></li> 
<li><A HREF="http://flightgear.org/Downloads/binary.shtml#freebsd">FreeBSD</A></li> 

</ul>
{% endblock content %}