{% extends "circle_container.html" %}
{% set title = 'FlightGear Features' -%}
{% block content %}


<div style="clear: both;"></div>

<h1><span class="fg">FlightGear</span> Features</h1>



<p><img src="/images/SNAG-1480.jpg" style="float:right; margin-left: 20px;">Have you ever wanted to fly a plane yourself, but lacked the money or ability to do so? Are you a real pilot looking to improve your skills without having to take off?</p>

<p>Do you want to try some dangerous maneuvers without risking your life? Or do you just want to have fun with a more serious game without any violence? If any of these questions apply to you, then <b class="fg">FlightGear</b> is perfect for you.</p>


<h1>Additional Features</h1>

<h4>The easy <a href="http://wiki.flightgear.org/index.php/Fgrun"><b>launcher</b></a> allows you to select:</h4>
<ul>
<li>Your <a href="http://wiki.flightgear.org/index.php/Fgrun#Page_two_-_Aircraft_Selection">aircraft</a></li>
<li>The start <a href="http://wiki.flightgear.org/index.php/Fgrun#Page_three_-_Airport_Selection">airport and runway</a></li>
<li>Time of day</li>
<li>Current weather</li>
<li>And many other environmental settings</li>
</ul>

<p style="margin: 20px;"><img src="http://wiki.flightgear.org/images/d/d3/Fgrun-page2.jpg" width="600"></p>


<h4>Synchronize time with real-world time</h4>
<img src="/images/1032928_96046693_resize.jpg" style="float: right;">
<ul>
<li>If it's dawn in Sydney right now, it's dawn in the sim right now when you locate yourself in virtual Sydney.</li>
<li>The correct time is read from the system clock, and is used to work out what is happening right now around the world.</li>
<li>Correctly placed sun, moon, stars, and planets for the specified time and date.</li>
<li>The sun, moon, stars, and planets all follow their correct courses through the sky.</li>
<li>This modeling also correctly takes into account seasonal effects so you have 24 hour days north of the arctic circle in the summer, etc.</li>
<li>We also illuminate the correctly placed moon with the correctly placed sun to get the correct phase of the moon for the current time/date, just like in real life. </li>
</ul>

<h4>Keyboard controls</h4>
<ul>
<li>While joysticks or yokes are supported as are rudder pedals, you can fly using the keyboard alone. </li>
</ul>

<h4>Joystick support</h4>
<ul>
<li>Could you imagine a pilot in a Cessna controlling the machine with a keyboard alone? For getting the proper feeling of flight you will need a joystick/yoke plus rudder pedals, right?</li>
<li>There is integrated joystick support, which automatically detects any joystick, yoke, or pedals attached. Change the settings or see what is connected easily by selecting Help -> Joystick Information from the in-game menu.</li>
</ul>




<h4>World Scenery</h4>
<p><a href="/images/soaring-innsbruck2.jpg"><img src="/images/soaring-innsbruck2.jpg" style="float: right; margin-left: 20px;" width="300"></a></p>

<ul>
<li>The base install package contains scenery for a small area around San Francisco. But, as the entire world is available at a high level of detail, you will almost certainly wish to install extra scenery at some point.</li>
<li>
Night lighting with ground lighting concentrated in urban areas (based on real maps) and headlights visible on major highways.
Scenery includes all vmap0 lakes, rivers, roads, railroads, cities, towns, land cover, etc.</li>
<li>
The scenery set is available as a separate purchase to members only. All the scenery is provided in easy self installation packs that have 10 degree by 10 degree chunks.</li>
</ul>


<h4>Airports</h4>
<a href="/images/air340uno.jpg"><img src="/images/air340uno.jpg" style="float: right;" width="300" title="Click for larger image"></a>
<ul>
<li>Over 20,000 real world airports included in the full scenery set.</li>
<li>
Correct runway markings and placement, correct runway and approach lighting.</li>
<li>
Taxiways available for many larger airports (even including the green center line lights when appropriate.)
Sloping runways (runways change elevation like they usually do in real life.)</li>
<li>
Directional airport lighting that smoothly changes intensity as your relative view direction changes.</li>
</ul>


<h4>Aircraft</h4>
<img src="/images/SNAG-0167.jpg" style="float: right;">
<ul>
<li>A wide variety of aircraft available with 100+ included with this sim</li>
<li>
The base package has 20 aircraft to get you started. More can be <a href="http://flightgear.org/Downloads/aircraft-2.0.0/">downloaded from the website</a>.</li>
<li>
Currently you can fly the <a href="http://wiki.flightgear.org/index.php/Wright_Flyer_1903">1903 Wright Flyer</a>, strange flapping wing "ornithopters", a <a href="http://wiki.flightgear.org/index.php/747">747</a> and <a href="http://wiki.flightgear.org/index.php/Airbus_A320">A320</a>, various <a href="http://wiki.flightgear.org/index.php/Military_aircraft">military aicraft</a>, and several light singles. </li>
</ul>

<h4>Helicopters</h4>

<ul>
<li>In principle everything that applies to real <a href="http://wiki.flightgear.org/index.php/Helicopters">helicopters</a>, applies in this simulator.</li>
<li>
Some details are simplified, in particular the engine handling and some over-stresses are not simulated or are without any consequence.</li>
</ul> 

<h4>Instruments</h4>
<img src="http://wiki.flightgear.org/images/0/01/PFD1.jpg" style="float: right;" width="200">
<ul>
<li>Realistically models real world instrument behavior.</li>
<li>
Instruments that lag in real life, lag correctly in this simulator, gyro drift is modeled correctly, the magnetic compass is subject to aircraft body forces...</li>
<li>
Instrument and system failures are also accurately recreated. If the vacuum system fails, the HSI gyros spin down slowly with a corresponding degradation in response as well as a slowly increasing bias/error.</li>
<li>
All those things that make real world flying a challenge are accurately recreated to create real life flying experience</li>
</ul>




<h4>Aircraft Carriers</h4>
<p><a href="http://wiki.flightgear.org/images/9/9a/Carrier3.jpg" title="Click for larger image"><img src="http://wiki.flightgear.org/images/9/9a/Carrier3.jpg"  width="600"></a></p>
<img src="http://wiki.flightgear.org/images/9/9d/Carrier5.jpg" style="float: right; margin: 10px;" width="250">
<ul>
<li>There is currently support for <a href="http://wiki.flightgear.org/index.php/Aircraft_carrier">Aircraft Carrier</a> operations on the Nimitz, (located near San Francisco) and Eisenhower.</li>
<li>
The carriers are equipped with working catapult, arrester wires, elevators, <a href="http://wiki.flightgear.org/index.php/TACAN">TACAN</a> and FLOLS and are currently available for aircraft using the YASim FDM (in particular the Sea hawk, Seafire and <a href="http://wiki.flightgear.org/index.php/Douglas_A-4_Skyhawk2">A4F</a>.) </li>
<li>
Learn how to take off, locate and land back on the carrier.</li>
<li> 
Carrier landings are often described as “controlled crashes” and you shouldn't waste your time attempting to flare and place the aircraft gently on the deck like you would with a conventional landing - ensuring that you catch the wires is the main thing.</li>
<li>
If you wish, you can then raise the elevators from the ATC/AI menu, taxi onto one of the elevators, lower it (uncheck the box on the menu) and taxi off into the hangar.</li>
<li>
If after a little practice you find the Seahawk too easy, you could move on to the Seafire for more of a challenge!</li>
</ul>


<p class="panel">Visit the wiki pages <a href="http://wiki.flightgear.org/index.php/Howto:_Carrier">How to Land on a carrier</a> and <a href="http://wiki.flightgear.org/index.php/Carrier_over_MP">Carrier with Multiplayer</a></p>

<p class="panel">Watch the Carrier HowTo videos  <a href="http://www.youtube.com/watch?v=a34_bo78MIQ">Landing</a> and <a href="http://www.youtube.com/watch?v=TFf5NDCRNr4">Takeoff</a></p>

<h4>Multiple Displays</h4>


<ul>
<li>This simulator allows you to connect multiple instances of the program together to display different views of the simulation though a highly flexible I/O subsystem.</li>
<li>
For example, you may want to have the aircraft panel displayed on a screen right in front of you, while the view forward is displayed on a separate screen or using a projector. Using multiple displays can vastly improve the realism of the simulation.</li>
<li>
Given enough hardware, you can create sophisticated simulation environments with mock-up cockpits, panels, multiple views, and even a separate control station allowing an instructor to fail instruments, change the weather etc. An example of this is the 747 cockpit project.</li>
</ul>
<div style="margin-left: 50px; margin-top: 20px;">
<object width="640" height="390"><param name="movie" value="http://www.youtube.com/v/1w5iNsorwRI&hl=en_US&feature=player_embedded&version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed src="http://www.youtube.com/v/1w5iNsorwRI&hl=en_US&feature=player_embedded&version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></embed></object>
</div>


<h4>Recording and Playback</h4>
<img src="/images/152_5269_resize.jpg" style="float: right;">
<ul>
<li>Keep improving with the ability to record your flight for later analysis or playback</li>
</ul>

<h4>Air to Air Refueling</h4>

<ul>
<li>At present, there are two tanker aircraft (<a href="http://wiki.flightgear.org/index.php/Boeing_KC-135E">KC135-E</a> and KA6-D) and three receiving aircraft (A4F, <a href="http://wiki.flightgear.org/index.php/F-35_Lightning_II">Lightning</a> and T38) capable of <a href="http://wiki.flightgear.org/index.php/Howto:_Aerial_refueling">in-air refueling</a>.</li>
<li>
When flying one of these aircraft in the default scenery area, one can locate the tanker aircraft using air-air TACAN and/or radar and then receive a full or partial load of fuel by flying in close formation behind the tanker.</li>
<li>
Refueling is also possible between aircraft in a MultiPlayer session.</li>
<li>
The KC135 is a boom refueller, while the KA6 has a hose.</li>
<li>
The A4F and Lightning are both fitted with a probe for hose refueling while the T38 is fitted with a boom receiver.</li>
</ul> 
<div style="margin-left: 50px; margin-top: 20px;">
<iframe title="YouTube video player" class="youtube-player" type="text/html" width="560" height="345" src="http://www.youtube.com/embed/YyibzhO0Y9k?rel=0" frameborder="0"></iframe>
</div>



<h4>The Autopilot</h4>
<p style="float:right;"><a href="/images/george.png" title="Click for larger image"><img src="/images/george.png"  width="300"></a></p>
<ul>
<li>An <a href="http://wiki.flightgear.org/index.php/Autopilot">autopilot</a> is not an “intelligent” pilot. It just takes over simple tasks for the pilot.</li>
<li>
You still are the pilot aboard and have to keep aware of everything.</li>
<li>
Be prepared to shut the autopilot down as they often go wrong, both in real life, and in the simulator.</li>
</ul>


<h4>Menu entries</h4>
<ul>
<li>The Full in-game menu lets you take control of every aspect of the game</li>
</ul> 

<h4>Realistic Lighting</h4>
<ul>
<li>Light Dynamics Models (FDM's) so realistic that they can be used for aerodynamics research and modeling.</li>
</ul> 

<h4>User extensible.</h4>
<ul>
<li>Anyone with the right tools can create scenery, objects and aircraft to use with this simulator.</li>
</ul>

<h4>Networkable.</h4>
<ul>
<li>You can connect to a server and fly with other pilots. You can also connect two or more computers running this simulator and use their displays to expand your viewing area... imagine flying with a full, 360 degree view!</li>
</ul> 


<h4>Moderate System Requirements:</h4>
<img src="/images/windows_resize.gif" style="float: right;">
<ul>
<li>2+ Ghz</li>
<li>
Win 98/2000/ME/XP</li>
<li>
256 Mb RAM</li>
<li>
Video card + OpenGL Driver</li>
<li>
CD Drive</li>
</ul>

{% endblock content %}