{% extends "circle_container.html" %}

{% block content %}


<div style="clear: both;"></div>

<p style="background-color: #eeeeee; font-size: 10pt; padding: 10px; test-align: center;">The original official version of this document is at <a href="http://www.flightgear.org/flightprosim.html">www.flightgear.org/flightprosim.html</a></p>

<p>As many people will be aware, there is a (self described) "new" flight simulator product that is being widely and actively marketed at the moment under various names - Flight Pro Sim, Pro Flight Simulator, etc. These "new" simulators are simply a rebranding of the <b class="fg">FlightGear</b> open-source flight simulator. However, the marketing tactics of the Flight Pro Sim guys have caused more than a bit of confusion with end users. To help provide some clarity and answer some common questions, we (the core <b class="fg">FlightGear</b> development team) felt it was appropriate to make a statement, and provide a FAQ.</p>

<p><b class="fg">FlightGear</b> is an open-source flight simulator that was created in 1996. It is released under the GNU General Public License v2, and as such, it is free to use, modify and distribute with few restrictions. It has been developed with the collaboration of a large number of individuals over the last 14+ years. The complete <b class="fg">FlightGear</b> application and source code can be always downloaded for free from <a href="http://www.flightgear.org">www.flightgear.org</a>.</p>

<p>Flight Pro Sim is a commercial product that simply rebrands <b class="fg">FlightGear</b>. Investigation by a number of the <b class="fg">FlightGear</b> developers has found no difference between this and the <b class="fg">FlightGear</b> v1.9.1 release other than a change of name. Flight Pro Sim is in no way endorsed or supported by the core <b class="fg">FlightGear</b> development team.</p>

<p>Given the similarities between Flight Pro Sim and <b class="fg">FlightGear</b>, we would recommend that prospective buyers download <b class="fg">FlightGear</b> for free and satisfy themselves that Flight Pro Sim provides worthwhile value for money before purchasing it.</p>

<h4>FAQ:</h4>

<p><b>Q: What is the difference between <b class="fg">FlightGear</b> and Flight Pro Sim?</b><br> 
A: As far as we have been able to make out, the only difference between <b class="fg">FlightGear</b> v1.9.1 and Flight Pro Sim is a change in name throughout the software, and the fact that you have to pay for it.</p>

<p><b>Q: Is it legal for the makers of Flight Pro Sim to simply re-brand <b class="fg">FlightGear</b> ?</b><br> 
A: Under the GNU GPL v2 (<a href="http://www.gnu.org/licenses/gpl-2.0.html">http://www.gnu.org/licenses/gpl-2.0.html</a>) this is legal, provided that they distribute the source code (or make it available). The main issue that <b class="fg">FlightGear</b> developers have is the misleading marketing tactics used by pro flight sim that target unsuspecting users who aren't yet familiar with <b class="fg">FlightGear</b>. This is primarily an ethical, not a legal issue.</p>

<p><b>Q: Is it legal to sell a copy of <b class="fg">FlightGear</b>, whether re-branded or not? </b><br> 
A: Yes, provided the seller is in compliance with a number of conditions detailed in the GPL. In fact, those interested in receiving a DVD containing <b class="fg">FlightGear</b> may do so through the main <b class="fg">FlightGear</b> website, and directly contribute to the project (though they may want to wait for the upcoming release in the new year).</p>

<p><b>Q: Has Flight Pro Sim paid any money to <b class="fg">FlightGear</b> for the rights to the program ? </b><br> 
A: No. No such payment is required, as <b class="fg">FlightGear</b> is GPL software. No such payment has been offered, no such payment has been made. Any claims by Flight Pro Sim that they support the <b class="fg">FlightGear</b> project are entirely wishful thinking on their part.</p>

<p><b>Q: Why do the <b class="fg">FlightGear</b> developers allow this ? </b><br> 
A: The freedom to modify and enhance <b class="fg">FlightGear</b> is a core part of the project, and of open-source in general. Restricting the modifications that are allowed and what people can do with the software goes against that ethos.</p>

<p><b>Q: Is there any relationship between the makers of Flight Pro Sim and the <b class="fg">FlightGear</b> Project? </b><br> 
A: No.</p>

<p><b>Q: Has Flight Pro Sim contributed to the <b class="fg">FlightGear</b> project at all ? </b><br> 
A: No.</p>

<p><b>Q: I have purchased Flight Pro Sim. Can I get a refund ? </b><br> 
A: That is something you will have to take up with the distributors of Flight Pro Sim.</p>

<p><b>Q: This whole situation makes me upset! What can I do? </b><br> 
A: First of all, the main problem here is the marketing tactics used by pro flight sim which exhibit very dubious ethical values. The <b class="fg">FlightGear</b> development teams feels the best way to combat this problem is through positive <b class="fg">FlightGear</b> marketing and by honestly pointing out that pro flight sim is simply a rebranding of an already free flight sim called <b class="fg">FlightGear</b>.</p>

<h4>&nbsp;</h4>
<p>We want all of you to stay positive, to be honest and to be fair!</p>

<p>If you want to help combat misleading marketing, let's all get the word out about <b class="fg">FlightGear</b>. <b class="fg">FlightGear</b> doesn't have the kind of advertising budget that the pro flight sim guys do. We need you!!! Please post where ever you can on web sites, forums, blogs, facebook, etc. We don't mind if someone chooses to buy pro flight sim, in fact that's great, as long as they have complete information in advance and aren't being misled by a slimy sales pitch that sounds too good to be true.</p>

<p>So let's get the word out and try to make sure that pro flight sim has to market to an "educated" audience!</p>

<h4>See Also:</h4>
<ul>
<li><a href="http://www.flightgear.org/flightprosim.html">www.flightgear.org/flightprosim.html</a></li>
<li><a href="http://www.flightsimulatornetwork.com/page/why-you-dont-want-to-buy">Why You Don't Want To Buy Flight Pro Sim   - flightsimulatornetwork.com</a></li>
</ul>

{% endblock content %}