{% extends "circle_container.html" %}

{% block content %}


<div style="clear: both;"></div>
<p style="font-family: serif; font-size: 32pt; color: blue;">What Flight Fanatics have Been Waiting for, a 100% Free and Open Source Flight Simulator.</p>



<p style=""><img src="/images/SNAG-0006.jpg" style="float:right;"><b><b class="fg">FlightGear</b> is a Flight Sim that offers <b>Real Life Flying</b> with Accurate WorldWide Scenery based on Actual Military Mapping, over 20,000 of the World's Airports and 80+ Different Aircraft....
</b></p>



<p>This is the Game Flight Fans have Been Waiting for...s{{ site.nani }}</p>

<p>With 100+ aircraft to master, from the 1903 Wright Flyer to the latest military fighter jet and you know you will be busy for months...</p>

<p>Add in changeable weather, 20,000+ airports, life like controls, NASA flight models, World Wide Scenery based on US Defense Mapping Agency AND lifetime updates / upgrades you know you will be busy for years...</p>


<div class="quote">
<img src="/images/speech.jpg" class="iright">
<img src="/images/speech.jpg" class="ileft">
<p>
I loaded the 747 to attempt a flight. Once airborne, you immediately notice the lag in the controls as you attempt to maneuver this juggernaut of the sky.... faithfully reproduces the feeling of flying a “heavy”, with all the sedateness you would expect.
</p>
</div>

<h3><img src="/images/icon8.gif">One of the Most Realistic Flight Sims Available</h3>


<p><img src="/images/SNAG-1185.jpg" style="float: right;"><b class="fg">FlightGear</b> has been and is being developed to be <b>as close to real life as possible</b>. Everything from terrain, aircraft reactions, to planetary alignments and movements.</p>


<p>The virtual controls are <b>modeled on Real Life cockpits</b> and you will find night flying more enjoyable with <b>ground lighting</b> concentrated in urban areas and accurate airport approach lighting. It doesn't get any closer to the real thing...</p>


<table>
<tr>
<td>
<div class="img_label_box">
<p>The Golden Gate Bridge, San Francisco, USA</p>
<img src="/images/SNAG-1393.jpg">
</div>
</td><td>
<div class="img_label_box">
<p>Accurate Terrain</p>
<img src="/images/SNAG-1114.jpg">
</div>

</td></tr>
<tr><td>
<div class="img_label_box">
<p>Fly over The Eiffel Tower, Paris, France</p>
<img src="/images/fgfs-xpl-paris-2.jpg">
</div>
</td><td>
<div class="img_label_box">
<p>Get Ready For Take Off</p>
<img src="/images/SNAG-0031.jpg">
</div>
</td></tr></table>


<h3><img src="/images/icon16.gif">You get 100% Freedom, Amazing Scenery 
And A Sophisticated Sky Model</h3>


<p style="margin-right: 30px;"><img src="/images/note.jpg" style="float: left; margin-right: 10px;"><b class="fg">FlightGear</b> features highly detailed time of day modeling that places the sun, moon, stars, and planets correctly based on Real Time data from your computer clock.</p>

<p><b>If it's dawn in Beijing right now, it's dawn in the sim right now when you locate yourself in virtual Beijing.</b></p>

<p>The sun, moon, stars, and planets all follow their correct courses through the sky. The modeling also correctly takes into account seasonal effects so you have 24 hour days north of the Arctic Circle in the Summer.</p>

<h3><img src="/images/icon10.gif">Changeable Weather</h3>
<img src="/images/SNAG-0052.jpg" style="float: right; margin-left: 20px;">
<p>If flying with perfect weather at dawn is just not a challenge anymore, why not add another dimension and watch your plane <b>soar through gail's, wind, rain, snow or even lightning</b>. You have the control to choose this, or for added realism why not use real life data.</p>

<p>

<b class="fg">FlightGear</b> can calculate your nearest airport and fetch the current <b>METAR for that station from the NOAA weather service</b>. The atmosphere parameters calculated are: temperature, dew point, pressure density, wind (three dimensional) and visibility
</p>


<div class="quote">
<img src="/images/speech.jpg" class="iright">
<img src="/images/speech.jpg" class="ileft">
<p>
The aircraft responds to control inputs, just as the real one would, it is quite astonishing the quality of the flying produced in this simulator. To be honest, in this respect it's so polished, I could write page after page on it, but I'm sure by now you get the idea...
</p>
</div>









<h3><img src="/images/icon15.gif">Over 100+ Planes and Helicopters</h3>

<p><img src="/images/SNAG-0009.jpg" style="float: right; margin-left: 20px;">The list of available aircraft varies from the <b>Wright Brother’s first plane</b> to today’s state-of-the-art <b>military fighter jets</b> and even medical <b>helicopters</b>. As for available terrains, you can <b>fly anywhere on the entire planet!</b></p>

<p><b>With realism from the sloped runways to the real life controls, this sim makes you realize what you've been missing all these years.</b></p>

<p>It's really makes for an interesting experience when you release the brakes and find yourself rolling backwards down the runway.</p>





<h3><img src="/images/icon3.gif">Now You Are In Control</h3>

<p><img src="/images/SNAG-0007.jpg" style="float: right; margin-left: 20px;">The added bonus is that <b class="fg">FlightGear</b> is based on OpenGL graphics rendering. This means the program can really do just about anything and make it look realistic.</p>

<p><b class="fg">FlightGear</b> is an open source  flight sim that gives you complete control. This means you can dig deeper into the simulation and create your own graphics including: livery, terrain, airports, and of course aircraft.</p>

<p>You can also completely reprogram your flight controls and control response. The graphics and customization are only <b>as limited as your imagination.</b></p>


<div class="quote">
<img src="/images/speech.jpg" class="iright">
<img src="/images/speech.jpg" class="ileft">
<p>
This is indeed a wonderful game that has the extreme quality that a expensive flight simulator would have. Trust me, I have played it for hours and hours a day, and I never get tired of it! Its kid friendly and great for any age. <br>
<small>Jerome Gates from Bakersfield, CA USA</small>
</p>
</div>


<div class="quote">
<img src="/images/speech.jpg" class="iright">
<img src="/images/speech.jpg" class="ileft">
<p>
You can customize every aspect of your flight; a common feature on flight simulators. From the time of day to the type of navigation; even control over the weather and clouds, as well as the ability to toggle the 3D cockpit on and off–you can do it all! I’m very impressed with the interface overall. <br>
Tyler Thompson
</p>
</div>


<div class="quote">
<img src="/images/speech.jpg" class="iright">
<img src="/images/speech.jpg" class="ileft">
<p>
Innovative ...gives you exactly what you want: over 85 aircraft, full world terrain, lots of options, and a load of fun. Time Spent: 100 or More Hours.<br> koopatroopa1015
</p>
</div>


{% endblock content %}