{% extends "circle_container.html" %}

{% block content %}


<p style="font: Serif bold 12pt; color: blue;">What Flight Fanatics have Been Waiting for....</p>

<p>A Flight Sim that offers <b>Real Life Flying</b> with Accurate WorldWide Scenery based on Actual Military Mapping, over 20,000 of the World's Airports and 80+ Different Aircraft....
</p>

<p>This is the Game Flight Fans have Been Waiting for...s{{ site.nani }}</p>

<p>With 100+ aircraft to master, from the 1903 Wright Flyer to the latest military fighter jet and you know you will be busy for months...</p>

<p>Add in changeable weather, 20,000+ airports, life like controls, NASA flight models, World Wide Scenery based on US Defense Mapping Agency AND lifetime updates / upgrades you know you will be busy for years...</p>





{% endblock content %}