{% extends "circle_container.html" %}

{% block content %}


<p style="font-family: serif; font-size: 32pt; color: blue;">What Flight Fanatics have Been Waiting for....</p>

<img src="/images/SNAG-0006.jpg" style="float:right;">

<p style=""><b>A Flight Sim that offers <b>Real Life Flying</b> with Accurate WorldWide Scenery based on Actual Military Mapping, over 20,000 of the World's Airports and 80+ Different Aircraft....
</b></p>



<p>This is the Game Flight Fans have Been Waiting for...s{{ site.nani }}</p>

<p>With 100+ aircraft to master, from the 1903 Wright Flyer to the latest military fighter jet and you know you will be busy for months...</p>

<p>Add in changeable weather, 20,000+ airports, life like controls, NASA flight models, World Wide Scenery based on US Defense Mapping Agency AND lifetime updates / upgrades you know you will be busy for years...</p>


<div class="quote">
<img src="/images/speech.jpg" class="iright">
<img src="/images/speech.jpg" class="ileft">
<p>
I loaded the 747 to attempt a flight. Once airborne, you immediately notice the lag in the controls as you attempt to maneuver this juggernaut of the sky.... faithfully reproduces the feeling of flying a “heavy”, with all the sedateness you would expect.
</p>
</div>

<h3>One of the Most Realistic Flight Sims Available</h3>

<img src="/images/SNAG-1185.jpg" style="float: right;">
<p><b class="fg">FlightGear</b> has been and is being developed to be <b>as close to real life as possible</b>. Everything from terrain, aircraft reactions, to planetary alignments and movements.</p>


<p>The virtual controls are <b>modeled on Real Life cockpits</b> and you will find night flying more enjoyable with <b>ground lighting</b> concentrated in urban areas and accurate airport approach lighting. It doesn't get any closer to the real thing...</p>

<div class="img_label_box">
<p>The Golden Gate Bridge, San Francisco, USA</p>
<img src="/images/SNAG-1393.jpg">
</div>

<div class="img_label_box">
<p>The Golden Gate Bridge, San Francisco, USA</p>
<img src="/images/SNAG-1393.jpg">
</div>

<div class="img_label_box">
<p>The Golden Gate Bridge, San Francisco, USA</p>
<img src="/images/SNAG-1393.jpg">
</div>

<div class="img_label_box">
<p>The Golden Gate Bridge, San Francisco, USA</p>
<img src="/images/SNAG-1393.jpg">
</div>

<img src="/images/SNAG-1114.jpg">
<img src="/images/fgfs-xpl-paris-2.jpg">
<img src="/images/SNAG-0031.jpg">


{% endblock content %}