{% extends "circle_container.html" %}
{% set title = 'FlightGear Screenshots and Gallery' -%}
{% block content %}


<div style="clear: both;"></div>

<h1>What flight fans have been waiting for...</h1>

<p style="text-align: center; color: blue; font-size: 10pt;">Also checkout the <a href="http://flightgear.org/Gallery-v2.0/">Gallery at flightgear.org</a></p>

<table class="screenshots" >
          <tr>
            <td sswidth="66%"><div align="center"><img src="/images/SNAG-0006.jpg" alt="" width="300" height="250"></div></td>
            <td sswidth="34%"><div align="center"><img src="/images/SNAG-1120.jpg" alt="FlightGear" width="300" height="250"></div></td>
          </tr>
          <tr>
            <td><div align="center"><img src="/images/SNAG-0007.jpg" alt="FlightProSIm" width="300" height="220"></div></td>
            <td><div align="center"><img src="/images/SNAG-0011.jpg" alt="FlightGear" width="300" height="220"></div></td>

          </tr>
          <tr>
            <td><div align="center"><img src="/images/SNAG-0009.jpg" alt="FlightGear" width="300" height="190"></div></td>
            <td><div align="center"><img src="/images/SNAG-0031.jpg" alt="FlightGear" width="300" height="190"></div></td>
          </tr>
          <tr>
            <td><div align="center"><img src="/images/SNAG-0023.jpg" alt="FlightGear" width="300" height="225"></div></td>
            <td><img src="/images/SNAG-0424.jpg" alt="FlightGear" width="300" height="225"></td>
          </tr>

          <tr>
            <td><div align="right"><img src="/images/SNAG-0019.jpg" alt="FlightGear" width="300" height="160"></div></td>
            <td><img src="/images/SNAG-0018.jpg" alt="FlightGear" width="300" height="160"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0083.jpg" alt="FlightGear" width="300" height="225"></div></td>
            <td><img src="/images/SNAG-0052.jpg" alt="FlightGear" width="300" height="225"></td>
          </tr>

          <tr>
            <td><div align="right"><img src="/images/SNAG-0022.jpg" alt="FlightGear" width="300" height="180"></div></td>
            <td><img src="/images/SNAG-0659.jpg" alt="FlightGear" width="300" height="180"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0117.jpg" alt="FlightGear" width="300" height="170"></div></td>
            <td><img src="/images/SNAG-0119.jpg" alt="FlightGear" width="300" height="170"></td>
          </tr>
          <tr>

            <td><div align="right"><img src="/images/SNAG-0024.jpg" alt="FlightGear" width="300" height="210"></div></td>
            <td><img src="/images/SNAG-0058.jpg" alt="FlightGear" width="300" height="210"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0051.jpg" alt="FlightGear" width="300" height="185"></div></td>
            <td><img src="/images/SNAG-0547.jpg" alt="FlightGear" width="300" height="185"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1395.jpg" alt="FlightGear" width="300"></div></td>

            <td><img src="/images/SNAG-0973.jpg" alt="FlightGear" width="300"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0803.jpg" alt="FlightGear" width="300" height="250"></div></td>
            <td><img src="/images/SNAG-0821.jpg" alt="FlightGear" width="300" height="250"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0838.jpg" alt="FlightGear" width="300" height="250"></div></td>
            <td><img src="/images/SNAG-0842.jpg" alt="FlightGear" width="300" height="250"></td>

          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0843.jpg" alt="FlightGear" width="300" height="175"></div></td>
            <td><img src="/images/SNAG-0846.jpg" alt="FlightGear" width="300" height="175"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0927.jpg" alt="FlightGear" width="300" height="170"></div></td>
            <td><img src="/images/SNAG-0939.jpg" alt="FlightGear" width="300" height="170"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-0505.jpg" alt="FlightGear" width="300" height="165"></div></td>
            <td><img src="/images/SNAG-1028.jpg" alt="FlightGear" width="300" height="165"></td>
          </tr>

          <tr>
            <td><div align="right"><img src="/images/SNAG-1071.jpg" alt="FlightGear" width="300" height="170"></div></td>
            <td><img src="/images/SNAG-1075.jpg" alt="FlightGear" width="300" height="170"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1076.jpg" alt="FlightGear" width="300" height="150"></div></td>
            <td><img src="/images/SNAG-1078.jpg" alt="FlightGear" width="300" height="150"></td>
          </tr>
          <tr>

            <td><div align="right"><img src="/images/SNAG-1085.jpg" alt="FlightGear" width="300" height="180"></div></td>
            <td><img src="/images/SNAG-1108.jpg" alt="FlightGear" width="300" height="180"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1114.jpg" alt="FlightGear" width="300" height="225"></div></td>
            <td><img src="/images/SNAG-0008.jpg" alt="FlightGear" width="300" height="225"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1185.jpg" alt="FlightGear" width="300" height="195"></div></td>

            <td><img src="/images/SNAG-1195.jpg" alt="FlightGear" width="300" height="195"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1166.jpg" alt="FlightGear" width="300" height="260"></div></td>
            <td><img src="/images/SNAG-1188.jpg" alt="FlightGear" width="300" height="260"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1128.jpg" alt="FlightGear" width="300" height="230"></div></td>
            <td><img src="/images/SNAG-1260.jpg" alt="FlightGear" width="300" height="230"></td>

          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1147.jpg" alt="FlightGear" width="300" height="195"></div></td>
            <td><img src="/images/SNAG-1217.jpg" alt="FlightGear" width="300" height="195"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1219.jpg" alt="FlightGear" width="300" height="210"></div>
                <div align="right"></div></td>
            <td><img src="/images/SNAG-1198.jpg" alt="FlightGear" width="300" height="210"></td>

          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1339.jpg" alt="FlightGear" width="300" height="195"></div></td>
            <td><img src="/images/SNAG-1282.jpg" alt="FlightGear" width="300" height="195"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1387.jpg" alt="FlightGear" width="300" height="230"></div></td>
            <td><img src="/images/SNAG-1393.jpg" alt="FlightGear" width="300" height="230"></td>
          </tr>

          <tr>
            <td><div align="right"><img src="/images/SNAG-1392.jpg" alt="FlightGear" width="300" height="185"></div></td>
            <td><img src="/images/SNAG-1413.jpg" alt="FlightGear" width="300" height="185"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1394.jpg" alt="FlightGear" width="300" height="206"></div></td>
            <td><img src="/images/SNAG-0040.jpg" alt="FlightGear" width="300" height="206"></td>
          </tr>
          <tr>

            <td><div align="right"><img src="/images/SNAG-1403.jpg" alt="FlightGear" width="300" height="230"></div></td>
            <td><img src="/images/SNAG-1464.jpg" alt="FlightGear" width="300" height="230"></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1420.jpg" alt="FlightGear" width="300" height="235"></div></td>
            <td><div align="center"><img src="/images/SNAG-1421.jpg" alt="FlightGear" width="300" height="235"></div></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1459.jpg" alt="FlightGear" width="300" height="140"></div></td>

            <td><div align="center"><img src="/images/SNAG-1274.jpg" alt="FlightGear" width="300" height="140"></div></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1474.jpg" alt="FlightGear" width="300" height="170"></div></td>
            <td><div align="center"><img src="/images/SNAG-1517.jpg" alt="FlightGear" width="300" height="170"></div></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1567.jpg" alt="FlightGear" width="300" height="120"></div></td>
            <td><div align="center"><img src="/images/SNAG-1480.jpg" alt="FlightGear" width="300" height="120"></div></td>

          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1537.jpg" alt="FlightGear" width="300" height="211"></div></td>
            <td><div align="center"><img src="/images/SNAG-1506.jpg" alt="FlightGear" width="300" height="211"></div></td>
          </tr>
          <tr>
            <td><div align="right"><img src="/images/SNAG-1580.jpg" alt="FlightGear" width="300" height="216"></div></td>
            <td><div align="center"><img src="/images/SNAG-1593.jpg" alt="FlightGear" width="300" height="216"></div></td>
          </tr>


        </table>

<p style="text-align: center; color: blue; font-size: 10pt;">Also checkout the <a href="http://flightgear.org/Gallery-v2.0/">Gallery at flightgear.org</a></p>


{% endblock content %}