{% extends "circle_container.html" %}
{% set title = 'Download FlightGear  Now' -%}
{% block content %}


<h1><span class="fg">FlightGear</span> Videos</h1>



<h4>How To Playlist</h4>
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/p/682D29643F18E63A?hl=en_GB&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/p/682D29643F18E63A?hl=en_GB&fs=1" type="application/x-shockwave-flash" width="480" height="385" allowscriptaccess="always" allowfullscreen="true"></embed></object>{% endblock content %}