<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1;">
<title>{{ title }} | {{ conf.SITE_TITLE }}</title>

<script type="text/javascript" sssrc="http://fg-cache.appspot.com/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" sssrc="http://fg-cache.appspot.com/js/jquery-lightbox-0.5/js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" sshref="http://fg-cache.appspot.com/js/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen">


<link rel="stylesheet" type="text/css" href="/style_sheets/reset.css">
<link rel="stylesheet" type="text/css" href="/style_sheets/launch.1.css">


<!--<script type="text/javascript" src="/js/front.js"></script>-->

</head> 
<body> 

<div id="main_container">

	<!--### Header ########################-->
	<div id="header_box">
		<h2>Open Source Flight Stimulation with FlightGear</h2>
		<h1>Free Flight Sim.org</h1>
		
	</div>




	<!--### Navigation ########################-->
	<div id="site_nav_box">

		<div id="fg_logo"><img src="/images/fg2.png" alt=""></div>

		<ul id="navlist">
			{% for n in appo.nav %}
			<li><a {% ifequal path n.path  %}class="selected"{% endifequal %} href="{{ n.path }}" >{{ n.label }}</a>
			{% endfor %}
		</ul>
		<p>
		<a href="http://www.google.com/calendar/feeds/fg@freeflightsim.org/public/basic"><img src="http://www.google.com/calendar/hosted/freeflightsim.org/images/xml.gif" alt="xml"></a>

		<a href="http://www.google.com/calendar/ical/fg@freeflightsim.org/public/basic.ics"><img src="http://www.google.com/calendar/hosted/freeflightsim.org/images/ical.gif" alt="ical"></a>

		<a href="http://www.google.com/calendar/hosted/freeflightsim.org/embed?src=fg%40freeflightsim.org&ctz=Europe/London"><img src="http://www.google.com/calendar/hosted/freeflightsim.org/images/html.gif" alt="html"></a>
		</p>
		<p><a href="http://www.google.com/calendar/hosted/freeflightsim.org/embedhelper?src=fg@freeflightsim.org&ctz=Europe/London">Embed Widget</a></p>
		{% if user %}<p><a href="{{ logout_url }}">Logout</a></p>{% endif %}

		<!---<fieldset>
			<legend>Add an event</legend>
			<p>This calendar is work in progress, r&amp;d,  trying to find a 
			solution that works for everyone. Currently the toolkit and service were using
is Google Calendar as this has all the widgets etc.
			
			</p>

		</fieldset>
		-->
	</div>
	
	<h1 id="ffs_cal_title">FlightGear Calendar ID: fg@freeflightsim.org</h1>

	<!--### Main Content ########################-->
	<div id="content_box">

		{% block content %}
		content here
		{% endblock content %}
	</div>

	<!--### Navigation ########################-->
	<div id="footer_box">
		<p>
		<a href="https://appengine.google.com/dashboard?&app_id=freeflightsim">Dashboard</a> - 
		<a href="http://localhost:8080">Local Site</a> - 
		<a href="http://localhost:8080/_ah/admin/">Local Admin</a> - 
		&copy; 2010+ FreeFlightSim - all right reserved etc
	</div><!-- end footer-->
     
	
   


</div><!-- main cotainer -->



</body> 
</html>