



/********************************************************/
/** Main Containers           **/
/********************************************************/


body{
	background-color: #ffffff;
}


#main_container{
	margin: 10px 10px 10px 10px;
	min-height: 700px;
	font-family:  sans-serif;
	ssbackground-color: #efefef;
}

#main_container #header_box{

	smargin-bottom: 20px;
	padding: 10px;
	ssbackground-color: #376B91;
	sborder: 1px solid #999999;
	sborder-radius: 5px;
	s-moz-border-radius: 5px; 
	s-webkit-border-radius: 5px;

}

#main_container #header_box h1{
	font-family: monospace;
	font-size: 10pt;
	color: #666666;
}
#main_container #header_box h2{
	float: right;
	font-family: monospace;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

#ffs_cal_title{
	ssbackground-color: red;
	smargin-left: 200px;
	spadding-right: 50px;
	stext-align: right;
	smargin-right: 200px;
	sborder-bottom: 1px dashed #cccccc;
	color: #eeeeee;
	font-size: 15pt;
	padding: 10px;
	background-color: #376B91;
	border: 1px solid #999999;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}



/********************************************************/
/** Site Nav                 **/
/********************************************************/
#site_nav_box {
	float: right;
	DDbackground-color: red;
	width: 200px;
}


#fg_logo{
	ssborder: 1px solid red;
	text-align: center;
	margin: 10px 0px 10px 0px;
	ssfloat: right;
}
#fg_logo img{
	background-color: white;
	padding: 10px;
	border: 2px outset #3F447B;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}
#navlist {
}

#navlist li {
	list-style-type: none;
}

#navlist a {
	padding: 10px;
	font-weight: bold;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
	display: block;

	color: #444444;
	background-color: #dddddd;
	border: 2px outset #999999;

	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

#navlist a.selected {
	background-color: #7698BA;
	border-color: #999999;
	color: #eeeeee;
}
#navlist a.selected:hover {
	background-color: #7698BA;
	border-color: black;
	color: #eeeeee;
}
#navlist a:hover { 
	border-color: #222222;
	color: #222222;
	background-color: #efefef;
}

/********************************************************/
/** Content Box                 **/
/********************************************************/
#content_box{
	margin-top: 30px;
	margin-right: 250px;
	margin-left: 10px;
	min-height: 500px;
	ssborder: 4px inset #cccccc;
	sborder-radius: 10px;
	ss-moz-border-radius: 10px; 
	ss-webkit-border-radius: 10px;
	sspadding: 20px;
	ssbackground-color: #efefef;
	ssbackground-color: #dddddd;
}

#content_box h1{
	font-family: sans-serif;
	font-size: 20pt;
	padding: 5px 10px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #eeeeee;
}
#content_box h2{
	font-family: sans-serif;
	font-size: 18pt;
	ssbackground-color: #efefef;
	padding: 5px 0px;
	smargin-bottom: 20px;
	margin-left: 40px;
	border-bottom: 1px solid #dddddd;
	ssborder-top: 1px solid #dddddd;
}
#content_box p{
	margin-left: 40px;
	line-height: 150%;
	font-size: 12pt;
	margin-bottom: 10px;
}
#content_box ul{
	margin-left: 70px;
	line-height: 140%;
	font-size: 12pt;
}
#content_box li{
	list-style-type: circle;
}


table{
	font-size: 10pt;
	ssborder: 2px solid #376B91;
	margin: 40px 0px 0px 40px;
}
table caption{
	text-align: left;
	font-size: 10pt;
	ssmargin-bottom: 10px;
	background-color: #eeeeee;
	padding: 10px;
	border: 2px outset #dddddd;
}
table tr{
	ssbackground-color: #eeeeee;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 5px;
	
}
table tr:hover{
	background-color: #efefef;
	ssborder: 1px solid black;
}
table th{
	font-weight: normal;
	text-align: left;
	sborder-bottom: 1px solid #dddddd;
	sborder-top: 1px solid #dddddd;
	padding: 10px;
}
table td{
	font-weight: normal;
	text-align: left;
	yyborder: 1px solid #dddddd;
	sspadding: 10px;
	ssborder: 2px outset #376B91;
	text-align: center;
	
}
table td a{
	background-color: #dddddd;
	font-size: 10pt;
	ddfont-weight: bold;
	text-decoration: none;
	color: #333333;
	display: block;
	padding: 5px;
	margin: 5px;
	border: 2px outset #999999;
}
table td a:hover{
	background-color: white;
	ssfont-size: 10pt;
	ssfont-weight: bold;
	sstext-decoration: none;
	color: black;
	ssdisplay: block;
	sspadding: 5px;
	ssmargin: 5px;
	border: 2px outset black;
}
/********************************************************/
/** Footer Box                 **/
/********************************************************/
#footer_box{
	clear: both;
	BBbackground-color: yellow;
	margin-top: 20px;
	font-size: 8px;
}