<div class="slide cover">
    <div class="header">
        <h1>{$show.title}</h1>
    </div>

   <div class="intro">
        <div  id="fg_screen_logo"><img src="../images/flightgear.png" alt="FlightGear"/></div>
        <div style="float: left;">
        <ul>
            {foreach from=$slide_shows key=k item=v}
                {if $k != 'index'}
                <li><a href="?slide_show={$k}">{$v.title}</a>  <span style="font-size: 10pt; color: gray;"> - {$v.author}</span></li>
                {/if}
            {/foreach}
        </ul>
        <p><a  style="color: #B3C5F8; font-size: 10pt; padding-left: 50px;" href="../">Back to Website</a></p>
        </div>

       
    </div>

</div>

