{% extends "../launch_container.html" %}

{% block content %}

<h1>Flight School</h1>
<ul>
<li>starting from “how to start the engine”, Pattern, Amphibian, Navigation, Cross­Country, Multi­Engine, Jets, Dog­Fights, etc. etc. etc.</li>

<li>The goal is: Get some “pilots having problems” to “pilots want to learn”</li>
<li>On long Term we could even think about a license in form of an extra field in the 
“Member”list – filled in only by the center.</li>
<li>As a “peak” it could lead to an FAA “Private Pilot License”</li>
<li>ref. e.g.
<a href="http://www.flightgear.org/forums/viewtopic.php?f=10&t=2525&st=0&sk=t&sd=a#p21849">Sandi</a>, 
  <a href="http://www.flightgear.org/forums/viewtopic.php?f=10&t=2525&st=0&sk=t&sd=a&start=30#p36197">mike72</a></li>

</ul>
{% endblock content %}